.e_main{
	background-color: #f7fff3;
}

.e_price {
  color: grey;
  font-size: 22px;
}

img{
	aspect-ratio: 16/12;
	
}
/*tree*/

.e_head-tree{
	color: #699352;
	text-align: center;
}

.e_tree{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
}

/*tree1*/
.e_tree1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree1 button:hover {
  opacity: 0.7;
}

/*tree2*/
.e_tree2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree2 button:hover {
  opacity: 0.7;
}

/*tree3*/
.e_tree3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree3 button:hover {
  opacity: 0.7;
}

/*tree4*/
.e_tree4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_tree4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_tree4 button:hover {
  opacity: 0.7;
}

/*toy*/
.e_toy{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
	
}

.e_head-toy{
	color: #699352;
	text-align: center;

	
}

/*toy1*/
.e_toy1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy1 button:hover {
  opacity: 0.7;
}

/*toy2*/
.e_toy2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy2 button:hover {
  opacity: 0.7;
}

/*toy3*/
.e_toy3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy3 button:hover {
  opacity: 0.7;
}

/*toy4*/
.e_toy4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_toy4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_toy4 button:hover {
  opacity: 0.7;
}

/*decoration*/
.e_decoration{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
	
}

.e_head-decoration{
	color: #699352;
	text-align: center;

	
}

/*decoration1*/
.e_decoration1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration1 button:hover {
  opacity: 0.7;
}

/*decoration2*/
.e_decoration2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration2 button:hover {
  opacity: 0.7;
}

/*decoration3*/
.e_decoration3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration3 button:hover {
  opacity: 0.7;
}

/*decoration4*/
.e_decoration4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_decoration4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_decoration4 button:hover {
  opacity: 0.7;
}

/*food*/
.e_food{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap; 
	gap:10px;
}

.e_head-food{
	color: #699352;
	text-align: center;

	
}

/*food1*/
.e_food1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food1 button:hover {
  opacity: 0.7;
}

/*food2*/
.e_food2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food2 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food2 button:hover {
  opacity: 0.7;
}

/*food3*/
.e_food3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food3 button:hover {
  opacity: 0.7;
}

/*food4*/
.e_food4 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.e_food4 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #699352;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.e_food4 button:hover {
  opacity: 0.7;
}